---
name: Python Client Test

on:
  push:
    branches:
      - main
    paths:
      - 'a2a-client-test/**'
  pull_request:
    branches:
      - main
    paths:
      - 'a2a-client-test/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install -r requirements.txt
        working-directory: ./a2a-client-test
      - name: Run tests
        run: python test_client.py
        working-directory: ./a2a-client-test
